<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>Usable</string>
			<key>key</key>
			<string>CheckUsable</string>
			<key>value</key>
			<string>NO</string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Duplicate</string>
			<key>key</key>
			<string>Duplicate</string>
			<key>value</key>
			<string>NO</string>
			<key>confidence</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>LAR</string>
			<key>key</key>
			<string>A2iA_CheckLAR</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>CAR</string>
			<key>key</key>
			<string>A2iA_CheckCAR</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Amount</string>
			<key>key</key>
			<string>A2iA_CheckAmount</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
			<key>keyboardtype</key>
			<integer>2</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Routing No.</string>
			<key>key</key>
			<string>A2iA_CheckCodeline_Transit</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
			<key>keyboardtype</key>
			<integer>2</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Account No.</string>
			<key>key</key>
			<string>A2iA_CheckCodeline_OnUs1</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
			<key>keyboardtype</key>
			<integer>2</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Auxiliary On-Us</string>
			<key>key</key>
			<string>A2iA_CheckCodeline_AuxiliaryOnUs</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>EPC</string>
			<key>key</key>
			<string>A2iA_CheckCodeline_EPC</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>MICR</string>
			<key>key</key>
			<string>A2iA_CheckCodeline</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Date</string>
			<key>key</key>
			<string>A2iA_CheckDate</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
			<key>keyboardtype</key>
			<integer>10</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Check Number</string>
			<key>key</key>
			<string>A2iA_CheckNumber</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
			<key>keyboardtype</key>
			<integer>2</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Payee name</string>
			<key>key</key>
			<string>A2iA_CheckPayeeName</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Restrictive Endorsement Present</string>
			<key>key</key>
			<string>RestrictiveEndorsementPresent</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Restrictive Endorsement</string>
			<key>key</key>
			<string>RestrictiveEndorsement</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>iqaArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>Under size Image</string>
			<key>key</key>
			<string>IQAFailure_UndersizeImage</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Torn Document Corners</string>
			<key>key</key>
			<string>IQAFailure_FoldedOrTornDocumentCorners</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Torn Document Edges</string>
			<key>key</key>
			<string>IQAFailure_FoldedOrTornDocumentEdges</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Document Framing Error</string>
			<key>key</key>
			<string>IQAFailure_DocumentFramingError</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Document Skew</string>
			<key>key</key>
			<string>IQAFailure_DocumentSkew</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Over size Image</string>
			<key>key</key>
			<string>IQAFailure_OversizeImage</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Piggy back Document</string>
			<key>key</key>
			<string>IQAFailure_PiggybackDocument</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Image Too Light</string>
			<key>key</key>
			<string>IQAFailure_ImageTooLight</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Image Too Dark</string>
			<key>key</key>
			<string>IQAFailure_ImageTooDark</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Horizontal Streaks</string>
			<key>key</key>
			<string>IQAFailure_HorizontalStreaks</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Below Min Front Image Size</string>
			<key>key</key>
			<string>IQAFailure_BelowMinFrontImageSize</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Above Max Front Image Size</string>
			<key>key</key>
			<string>IQAFailure_AboveMaxFrontImageSize</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Below Min Rear Image Size</string>
			<key>key</key>
			<string>IQAFailure_BelowMinRearImageSize</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Above Max Rear Image Size</string>
			<key>key</key>
			<string>IQAFailure_AboveMaxRearImageSize</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spot Noise</string>
			<key>key</key>
			<string>IQAFailure_SpotNoise</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Image Dimension Mismatch</string>
			<key>key</key>
			<string>IQAFailure_ImageDimensionMismatch</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carbon Strip</string>
			<key>key</key>
			<string>IQAFailure_CarbonStrip</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Out Of Focus</string>
			<key>key</key>
			<string>IQAFailure_OutOfFocus</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
	</array>
	<key>usabilityArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>CAR</string>
			<key>key</key>
			<string>UsabilityFailure_CAR</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LAR</string>
			<key>key</key>
			<string>UsabilityFailure_LAR</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Signature</string>
			<key>key</key>
			<string>UsabilityFailure_Signature</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Payee name</string>
			<key>key</key>
			<string>UsabilityFailure_PayeeName</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Date</string>
			<key>key</key>
			<string>UsabilityFailure_Date</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Codeline</string>
			<key>key</key>
			<string>UsabilityFailure_Codeline</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Payee Endorsement</string>
			<key>key</key>
			<string>UsabilityFailure_PayeeEndorsement</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ReasonForRejection</string>
			<key>key</key>
			<string>ReasonForRejection</string>
			<key>value</key>
			<string>TRUE</string>
		</dict>
	</array>
</dict>
</plist>
