<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keysArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>Photo</string>
			<key>key</key>
			<string>DLDRIVERPHOTO</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Signature</string>
			<key>key</key>
			<string>SignatureImage64</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ID</string>
			<key>key</key>
			<string>IDNumber</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>First Name</string>
			<key>key</key>
			<string>FirstName</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Last Name</string>
			<key>key</key>
			<string>LastName</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Middle Name</string>
			<key>key</key>
			<string>MiddleName</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Street</string>
			<key>key</key>
			<string>Address</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>City</string>
			<key>key</key>
			<string>City</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Zip Code</string>
			<key>key</key>
			<string>ZIP</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>State</string>
			<key>key</key>
			<string>State</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Date Of Birth</string>
			<key>key</key>
			<string>DateOfBirth</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Driver License</string>
			<key>key</key>
			<string>License</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Gender</string>
			<key>key</key>
			<string>Gender</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Issue Date</string>
			<key>key</key>
			<string>IssueDate</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Expiry Date</string>
			<key>key</key>
			<string>ExpirationDate</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
