<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keysArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>Payment Amount</string>
			<key>key</key>
			<string>AmountDue</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>editable</key>
			<true/>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Pay By</string>
			<key>key</key>
			<string>DueDate</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>10</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Name</string>
			<key>key</key>
			<string>Name</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Address 1</string>
			<key>key</key>
			<string>AddressLine1</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>editable</key>
			<true/>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Address 2</string>
			<key>key</key>
			<string>AddressLine2</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>top</key>
			<integer>0</integer>
			<key>editable</key>
			<true/>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>City</string>
			<key>key</key>
			<string>City</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>editable</key>
			<true/>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>State</string>
			<key>key</key>
			<string>State</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>editable</key>
			<true/>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Zip</string>
			<key>key</key>
			<string>Zip</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>editable</key>
			<true/>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Account Number</string>
			<key>key</key>
			<string>AccountNumber</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>editable</key>
			<true/>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Phone Number</string>
			<key>key</key>
			<string>PhoneNumber</string>
			<key>value</key>
			<string></string>
			<key>confidence</key>
			<integer>0</integer>
			<key>keyboardtype</key>
			<integer>1</integer>
			<key>editable</key>
			<true/>
			<key>top</key>
			<integer>0</integer>
			<key>left</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>height</key>
			<integer>0</integer>
			<key>pageIndex</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
